<!DOCTYPE html>
<html>
<head>
    <title>Estado do Prédio - ProVentil</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <h2>ProVentil - Estado da Instalação</h2>
</header>

<div class="container">

    <h3>{{ name }}</h3>
    <p><strong>Morada:</strong> {{ address }}</p>
    <p><strong>Sistema:</strong> {{ system_type }}</p>
    <p><strong>Instalado em:</strong> {{ installation_date }}</p>

    <hr>

    <h3>Histórico Intervenções</h3>

    {% for w in works %}
        <div style="margin-bottom:10px;">
            <p><strong>Tipo:</strong> {{ w[0] }}</p>
            <p><strong>Estado:</strong> {{ w[1] }}</p>
            <p><strong>Total:</strong> {{ w[2] }}€</p>
            <p><strong>Data:</strong> {{ w[3] }}</p>
        </div>
        <hr>
    {% endfor %}

</div>

</body>
</html>
