<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ProVentil</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <img src="/static/images/logo.png" class="logo">
    <h1>ProVentil</h1>
</header>

<section class="hero">
    <h2>Soluções Técnicas Profissionais</h2>
    <p>1. Extração de Fumos Hotelaria</p>
    <p>2. Video Porteiro (Instalação e Manutenção própria)</p>

    <div class="buttons">
        <a href="/extraction" class="btn">Pedir Orçamento Extração</a>
        <a href="/login" class="btn secondary">Área Interna</a>
    </div>
</section>

<footer>
    <p>© 2026 ProVentil</p>
    <p>Telefone: +351 9XX XXX XXX</p>
</footer>

</body>
  </html>
